{% import "macros/macros.html" as post_macros %}

<!DOCTYPE html>
<html>
{% include "partials/header.html" %}

<body>
  <div class="content">
    {% include "partials/nav.html" %}

    {# Post page is the default #}
    {% block main_content %}
    Nothing here?!
    {% endblock main_content %}
  </div>
  <script type="text/javascript" src="{{ get_url(path='js/medium-zoom.min.js') }}"></script>
  <script type="text/javascript">
    mediumZoom(
      document.querySelectorAll('main img'),
      {
        margin: 14,
        background: '#000000a0',
      }
    );
  </script>

</body>

</html>