{% extends "base.html" %}

{% block main_content %}
{% for page in term.pages %}
<article>
  <h3 class="post__title"><a href="{{ page.permalink }}">{{ page.title }}</a></h3>
</article>
{% endfor %}
{% endblock main_content %}