{% extends "base.html" %}

{% block main_content %}

{{ post_macros::page_header(title="Thèmes") }}
<ul>
  {% for term in terms %}
  <li><a href="{{current_path}}{{term.slug}}">{{term.name}}</a> {{ term.pages | length }}</li>
  {% endfor %}
</ul>
{% endblock main_content %}